@charset "utf-8";
/* CSS Document */
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: #222221;
}
/* 全ページ共通 */
/* ハンバーガー */
#menu {
  z-index: 2;
}
#menu-bar {
  width: 45px;
  height: 40px;
  top: 30px;
  right: auto;
  left: 20px;
  cursor: pointer;
  position: fixed;
}
.bar {
  height: 8px;
  width: 100%;
  background-color: #eca8c6;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav {
  transition: 0.3s ease;
  display: none;
}
.nav ul {
  padding: 80px 0 0 30px;
  /* border: 1px solid #000; */
}
.nav li {
  list-style: none;
  padding: 10px 0;
}
.nav li a {
  color: #f4f4f4;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}
.nav li a:hover {
  color: #222221;
}
.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #eca8c6, #eca8c6);
  border-radius: 50%;
  transition: 0.3s ease;
  opacity: 0.8;
}
.change {
  display: block;
  position: fixed;
}
.change .bar {
  background-color: #f4f4f4;
}
.change #bar1 {
  transform: translateY(8px) rotateZ(-45deg);
}
.change #bar2 {
  opacity: 0;
}
.change #bar3 {
  transform: translateY(-8px) rotateZ(45deg);
}
.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
  position: fixed;
}

/* フェードイン */
.fadeIn{
  opacity: 0;         /* 初期値は透明にしておく */
  transition: 0.5s;    /* 動くスピードを0.5秒に指定 */
  position: relative; /* 相対位置の設定 */
  top: 50px;
}
.fadeIn.active{
  opacity: 1;         /* 透明度を元に戻す */
  top: 0;
}

/* 見出し */
h1{
  color: #f4f4f4;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 4rem;
  font-weight: 600;
  font-style: normal;
}
h2{
  color: #222221;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 4rem;
  font-weight: 510;
  font-style: normal;  
}
h3{
  color: #222221;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 3.5rem;
  font-weight: 510;
  font-style: normal;  
}
h4{
  color: #222221;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 510;
  font-style: normal;
}
.jpn-h4{
  color: #222221;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.9rem;
  font-style: normal;
}
h5{
  color: #222221;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
}
.jpn-h5{
  color: #222221;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}
/* 本文 */
p{
  color: #222221;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.w600{
  color: #222221;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: normal;
}
/* 見出し下日本語 */
.ja{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
}
/* PCでは横並び（スマホは縦並び） */
.flex-pc{
  display: flex;
}
/* 影のあるボタン */
.shousai-btn{
  background-color: #eca8c6;
  border-radius: 30px;
  padding: 15px 30px;
  border: 5px solid #222221;
  box-shadow: 0px 10px 0px -2px #777777;
}
.shousai-btn:hover {
  box-shadow: none;
  transform: translateY(5px);
  background-color: #dc72a0;
  transition: all 0.3s;
}
/* 制作物一覧のボタン */
.shousai-btn2{
  background-color: #f4f4f4;
  border-radius: 50px;
  /* padding: 15px 30px; */
  border: 5px solid #222221;
  box-shadow: 0px 15px 0px -2px  #777777;
}
.shousai-btn2:hover {
  box-shadow: none;
  transform: translateY(15px);
  transition: all 0.3s;
}
.s14w400{
  color: #222221;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
}
/* パソコンでもスマホでも横並び */
.flex{
  display: flex;
}
/* フッター */
.footer{
  background-color: #dc72a0;
  padding: 5% 0 2%;
}
.copyright{
  color: #222221;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  font-style: normal;
  margin: 6% 0 0 0;
  text-align: center;
}
.footer .flex{
  justify-content: center;
  gap: 6%;
}
/* body中央 */
body{
  margin: 0 auto;
}
/* 作品　個人製作　座布団 */
.kadomaru-band{
  color: #f4f4f4;
  background-color: #707ab8;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 1.5%;
}
/* 作品　チーム製作　座布団 */
.kadomaru-band2{
  color: #f4f4f4;
  background-color: #dc72a0;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 1.5%;
}
.inner{
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
  /* border: 1px solid #000; */
}


/* ーーーーー */
/* TOPページ */
/* ーーーーー */
.fv{
  background-color: #707ab8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.fv #rect{
  width: 60vw;
  margin-top: 20px;
}



.top .profile-bgc{
  background-color: #707ab8;
  width: 100%;
  padding: 15% 0 0 0;
}
.about{
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #222221;
  padding: 3% 3% 5%;
}
.about .container{
  gap: 5%;
  margin: 3% auto 3% auto;
  align-items: center;
  justify-content: center;
}
.about .container img{
  width: 24%;
}
.about .txt{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.about .txt p{
  margin: 3% 0 5% 0;
}
.about .txt a{
  margin-left: auto;
  display: inline-block;
  cursor: pointer;
}


.top .skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0 6% 0;
  margin: 4% 0 0 0;
  /* border: 1px solid #000; */
}
.top .skill .container{
  gap:  4%;
  margin: 3% auto 3% auto;
  width: 100%;
  /* border: 1px solid #000; */
  align-items: flex-start;
  justify-content: center;
}
.top .skill .container .skill-box{
  width: 37%;
  background-color: #f4f4f4;
  border: 10px solid #222221;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.top .skill .container .skill-box img{
  width: 80%;
  margin: 5% 0;
}
.top .skill .container .skill-box .txt{
  padding: 5% 0;
  /* border: 1px solid #000; */
  
}
.top .skill .container .skill-box .txt .m-b4{
  margin-bottom: 4%;
}


.works{
  background-color: #f4f4f4;
  /* border: 1px solid #000; */
  padding: 3% 0 5% 0;
}
.works .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto 3% auto;
  /* border: 1px solid #000; */
}
.works .container .list{
  gap: 4%;
  margin-top: 6%;
  display: flex;
  /* border: 1px solid #000; */
}
.works .container .piece{
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 9px solid #222221;
  border-radius: 50px;
  padding: 6% 4%;
}
.works .container .piece img{
  width: 95%;
}


/* ーーーーーー */
/* Aboutページ */
/* ーーーーーー */
.About .profile-bgc{
  background-color: #707ab8;
  width: 100%;
  padding: 5% 0 0 0;
}
.About .skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8% 0 3% 0;
}
.About .skill .flex{
  margin: 5% 0 0 0;
}
.About .skill .app-skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
}
.About .skill .app-skill img{
  margin: 0 0 15px;
}


.About .strength{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0 6% 0;
  margin: 4% 0 0 0;
}
.About .strength .container{
  gap:  1%;
  margin: 3% auto 3% auto;
  width: 100%;
  /* border: 1px solid #000; */
  align-items: flex-start;
  justify-content: center;
}
.About .strength .strength-box{
  width: 35%;
  background-color: #f4f4f4;
  border: 10px solid #222221;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.About .strength .strength-box p{
  padding: 5% 0;
}
.About .strength .strength-box .jpn-h4{
  background-color: #eca8c6;
  padding: 1% 4%;
  border-radius: 20px;
}

/* ーーーーーー */
/* workページ */
/* ーーーーーー */
.work_page .wrapper{
  border: 10px solid #222221;
  border-radius: 120px;
  margin: 0 1% 0;
  padding: 3% 3% 5%;
}
.work_page .f4{
  background-color: #f4f4f4;
  padding: 4% 0 0 0;
}
.work_page .flex-start{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid #000; */
  padding: 7% 0 0 0;
  gap: 3%;
}

.work_page .flex-start img{
  width: 60%;
}
  /* 本文エリア */
.work_page .txt-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 40vw; */

}
.work_page .content .ja{
  margin: 0 0 10% 0;
}
.work_page  .txt-content h5{
  margin: 5% 0 5px 0;
}
.kanpu{
  margin: 9% 0 0;
  padding: 3% 0 6% 0;
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kanpu .ja{
  margin: 0 0 5% 0;
}
.kanpu img{
  width: 50%;
}


/* レスポンシブ */
@media screen and (max-width: 780px) {
	/* 780px以下に適用されるCSS */

  html{
    font-size: 14px;
  }
  .fv #rect{
  width: 70vw;
  }
  .work_page .f4 .flex-pc{
    flex-direction: column;
    align-items: center;
    padding: 7% 5% 0;
    /* border: 1px solid #000; */
  }
  .work_page .wrapper{
    border-radius: 100px;
  }
  .work_page .flex-start img{
    width: 80%;
    margin-bottom: 7%;
  }
  .works .container .list {
    margin-top: 0px;
  }
  .works .container .list .piece h5{
    font-size: 1.1rem;
  }
  .works .container .piece{
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 8px solid #222221;
  border-radius: 50px;
  padding: 6% 4%;
  margin-bottom: 18px;
}
  .works .container .ja{
    margin-bottom: 3%;
  }
  
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

  html{
    font-size: 11px;
  }
  .fv #rect{
  width: 85vw;
  }
  .shousai-btn {
    background-color: #eca8c6;
    border-radius: 30px;
    padding: 10px 20px;
    border: 5px solid #222221;
    box-shadow: 0px 10px 0px -2px #777777;
  }
  .about{
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid #222221;
  padding: 3% 3% 5%;
}
.top .skill .container{
  margin: 3% auto 3% auto;
  width: 100%;
  /* border: 1px solid #000; */
  align-items: center;
  justify-content: center;
}
.top .skill .container .skill-box{
  width: 85%;
  background-color: #f4f4f4;
  border: 8px solid #222221;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-bottom: 10px;
}
  .about .txt{
  width: 85%;
  display: flex;
  flex-direction: column;
  }
  .work_page .wrapper {
    border: 8px solid #222221;
    border-radius: 50px;
  }
  .kanpu img{
    width: 95%;
  }
  .flex-pc{
    flex-direction: column;
  }
  .work_page .works .container .list{
    margin-top: 0;
    gap: 0;
    /* border: 1px solid #000; */
  }
  .work_page .works .container .piece{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: start; */
    /* border: none; */
    /* border-radius: 35px; */
    padding: 6% 4%;
    /* width: 92%; */
    /* margin: 15px auto 0; */
  }
  .work_page .works .container .piece.shousai-btn2{
  background-color: #f4f4f4;
  border-radius: 0;
  /* padding: 15px 30px; */
  border: none;
  box-shadow: none;
  }
  .shousai-btn2:hover {
  box-shadow: none;
  transform: translateY(15px);
  transition: all 0.3s;
  }
  .top .shousai-btn2{
    border: 8px solid #222221;
  }
  .work_page .flex-start img{
    width: 90%;
    margin-bottom: 7%;
  }
  .sp-none{
    display: none;
  }
  .work_page .works .container .ja{
    margin: 0 0 5% 0;
  }
  .works .container .piece img{
    width: 100%;
  }
  .work_page .jpn-h4{
    font-size: 1.5rem;
  }
  .About .strength .container{
  align-items: center;
}
.About .strength .strength-box{
  width: 85%;
  border: 8px solid #222221;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-bottom: 10px;
}
}
